<%= simple_form_for(@booking) do |f| %>
  <h3>Book Seats</h3>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :no_of_people, collection: (1..5).to_a %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-outline-light' %>
  </div>
<% end %>
