<% if user_signed_in? && current_user.admin %>
  <div class="container mb3">
    <div class="table-container" >
        <tr><h2>Booking Search</h2></tr>
          <%= form_tag bookings_path, method: :get do %>
            <%= text_field_tag :query, params[:query], class: "form-control mb-3", placeholder: 'Search by Booking Ref...' %>
            <%= submit_tag 'Search', class: 'mb-3' %>
          <% end %>
    </div>
  </div>

  <div class="container mt-3">
    <div class="table-container" style="overflow:scroll; max-height:600px;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Booking ID</th>
            <th scope="col">Booker's ID</th>
            <th scope="col">Booker's Name</th>
            <th scope="col">Booker's Email</th>
            <th scope="col">Show Name</th>
            <th scope="col">Show Date</th>
            <th scope="col">Show Time</th>
            <th scope="col">No. of Tickets</th>
          </tr>
        </thead>
        <tbody>
        <% @results.each do |result| %>
          <tr>
            <td><%= result.id %></td>
            <td><%= result.user.id %></td>
            <td><%= "#{result.user.last_name.upcase} #{result.user.first_name.capitalize}" %></td>
            <td><%= result.user.email %></td>
            <td><%= result.showing.show.name %></td>
            <td><%= result.showing.start_time.strftime("%a %-d#{date_suffix(result.showing.start_time)} %B %Y") %></td>
            <td><%= result.showing.start_time.strftime("%H:%M") %></td>
            <td><%= result.no_of_people %></td>
            <td><%= link_to "✏️", edit_booking_path(result.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="container">
    <p><strong>Admins Only!</strong></p>
  </div>
<% end %>

