<div class="container mb-3">
  <div class="table-container">
    <table class="table">
      <thead>
        <tr><h2>Your Account Details <%= link_to '✏️', edit_user_path(@user) %></h2></tr>
      </thead>
      <tbody>
        <tr>
          <th>Name -</th>
          <td><%= @user.first_name %> <%= @user.last_name %></td>
        </tr>
        <% if @user.admin %>
          <tr>
            <th>Admin -</th>
            <td><%= @user.admin %></td>
          </tr>
          <% end %>
        <tr>
          <th>Email -</th>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="container mb-3">
  <% if @bookings %>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr><h2>My Bookings</h2></tr>
          <tr>
            <th scope="col">Booking ID</th>
            <th scope="col">Show Name</th>
            <th scope="col">Show Time</th>
            <th scope="col">Show Date</th>
            <th scope="col">No. of Tickets</th>
          </tr>
        </thead>
        <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.id %></td>
            <td><%= link_to "#{booking.showing.show.name}", show_showing_path(booking.showing.show, booking.showing) %></td>
            <td><%= booking.showing.start_time.strftime("%H:%M") %></td>
            <td><%= booking.showing.start_time.strftime("%a %-d#{date_suffix(booking.showing.start_time)} %B %Y") %></td>
            <td><%= booking.no_of_people %></td>
          </tr>
        <% end %>
         <td class="align-right"><%= link_to "Back to shows", shows_path  %></td>
        </tbody>
      </table>
    </div>
  <% else %>
      <p>🙁 You don't seem to have any bookings</p>
      <td class="align-right"><%= link_to "Back to shows", shows_path  %></td>
  <% end %>
</div>
