<div class="navbar navbar-expand-sm navbar-light navbar">
  <div>
    <%= image_tag 'logo.png', id: 'nav-logo'%>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto hamburger-right">
      <li class="nav-item active"><%= link_to 'Home', root_path %></li>
      <% if user_signed_in? %>
        <li class="nav-item active"><%= link_to 'Profile',  user_path(current_user) %></li>
        <li class="nav-item active"><%= link_to 'My Bookings', user_bookings(@user) %></li>
        <li class="nav-item active"><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="nav-item active"><%= link_to 'Login',  new_user_session_path %></li>
        <li class="nav-item active"><%= link_to 'Sign-up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>
