<%= simple_form_for(@show) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :start_time, collection: formify(Show::SHOWTIMES), label_method: :first, value_method: :second %>
    <%= f.input :capacity %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-outline-light' %>
  </div>
<% end %>


