<h1><%= @show.name %></h1>

<h3>
  Start Time - <%= @show.start_time %>
  Duration - 1 Hour
</h3>

<p>Capacity - <%= @show.capacity %> </p>

<%= cl_image_tag @show.photo.key %>

<%= link_to "Back", shows_path %>
