<%# <div class="container">  %>
  <%# <div class="div-round-full" style="width: 95vw; height: 60vh;">
      <iframe class="iframe-round-full" allow="autoplay; encrypted-media; fullscreen" src="https://www.youtube.com/embed/vW1NH64UnJk?controls=0&start=1454&modestbranding=1&autohide=1&showinfo=0"></iframe>
  </div> %>
<%# </div> %>
<div class="container" id="show-page">
  <table>
    <tr>
      <td>
        <%= cl_image_tag @show.photo.key, class: "avatar" %>

        <div class="div-round" style="width: 400px; height: 400px;">
            <iframe class="iframe-round" allow="autoplay; encrypted-media; fullscreen" src="https://www.youtube.com/embed/vW1NH64UnJk?controls=0&start=1454&modestbranding=1&autohide=1&showinfo=0"></iframe>
        </div>
        <%# https://www.youtube.com/embed/DLOth-BuCNY?start=240 %>

<%# https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1 %>



        <%# <div style="padding:10px;background:#000;webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;width:560px;margin:0 auto;overflow:hidden;">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1"></iframe>
        </div> %>
      </td>
      <td>
        <h1><%= @show.name %></h1>
        <hr>
        <p>Description - <%= @show.description %> </p>
        <hr>
        <p><strong>Duration</strong> - 1 Hour</p>
        <hr>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Open Calendar to Book
        </button>
        <hr>
        <% if @show.reviews.count > 0 %>
          <% ratings = [] %>
          <% @show.reviews.each do |review| %>
            <% ratings << review.rating %>
          <% end %>
          <% average = ratings.sum / ratings.length %>
          <p class="mb-0"><strong>Average Rating</strong></p>
          <div>
            <% average.times do %>
              <i class='fas fa-star mt-0'></i>
            <% end %>
            <% (5 - average).times do %>
              <i class='far fa-star mt-0'></i>
            <% end %>
          </div>
        <% end %>
        <hr>

        <p class="mt-4"> REMAINING SEATS </p>


        <%# if user_signed_in? && remaining_seats(@show) != 'SOLD OUT!' %>
          <%#= link_to "Book Tickets", new_show_booking_path(@show), class: "btn btn-success mb-4" %>
        <%# end %>

        <div class="table-container mb-4">
          <div id="reviews" class="list-group" style="overflow:scroll; height:400px;">
            <% if @show.reviews.blank? %>
              <p>Be the first to leave a review for <%= @show.name %></p>
            <% else %>
              <h3>Reviews...</h3>
              <% @show.reviews.reverse.each do |review| %>
                <li class="list-group-item">
                  <small>
                    <% count = 0 %>
                    <% 5.times do %>
                      <% if review.rating > count %>
                        <i class="fas fa-star"></i>
                      <% else %>
                        <i class="far fa-star"></i>
                      <% end %>
                      <% count += 1 %>
                    <% end %>
                  </small>
                  <p id="review-<% review.id %>"><%= review.content %></p>
                </li>
              <% end %>
            <% end %>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="table-container">
            <%= simple_form_for([@show, @review], remote: true) do |f| %>
              <h3>Leave a review</h3>
              <%= f.input :rating, collection: 0..5 %>
              <%= f.input :content%>
              <%= f.submit class: 'btn btn-primary' %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<!-- Create a new Showing for Admin -->
<%# if user_signed_in? && current_user.admin %>
  <%#= link_to "Create A New Showing", new_show_showing_path(@show) %>
<%# end %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <%= @show.name %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="showings-calendar">
          <%= render partial: "calendar", locals: {showings: @showings} %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

